<div class="main-part">
    <div class="wrapper"></div>
        <div class="sec">
            <h1>ANIMIRANI FILMOVI</h1>
            <div class="crta"></div>
        </div>
        <div class="sadrzaj">
            
            <div class="spanovi"> 
                <div class="kocka">
                    <img src="assets/images/vanima.png" alt="dog">
                </div>
                <div class="kocka">
                    <h1>MONTAŽA</h1>
                    <h4>montaža 7 animiranih filmova nastalih na radionicama</h4>
                </div>
            </div>
           
        </div>
        <div class="bijelo"></div>
</div>