<div class="main-part">
    <div class="wrapper"></div>
        <div class="sec">
            <h1>IGRANI FILMOVI</h1>
            <div class="crta"></div>
        </div>
        <div class="sadrzaj">
            <div class="spanovi"> 
                <div class="kocka">
                    <img src="assets/images/dog.jpg" alt="dog">
                    <div id="naslov1"> 
                        <h1>PASJE PODNE</h1>
                        <h4>Samostalan film</h4>
                    </div>
                </div>
                <div class="kocka">
                    <img src="assets/images/iggy.jpg" alt="iggy">
                    <div id="naslov2"> 
                        <h1>SAM SEBE</h1>
                        <h4>Samostalan film</h4>
                    </div>
                </div>
                <div class="kocka">
                    <img src="assets/images/prasica.png" alt="kuta">
                    <div id="naslov3">
                        <h1>5% OCEANA</h1>
                        <h4>Montaža</h4>
                    </div>
            </div>
           
        </div>
        <div class="bijelo"></div>
</div>