<div class="main-part">
    <div class="wrapper"></div>
        <div class="sec">
            <h1>O MENI</h1>
            <div class="crta"></div>
        </div>
        
        <div class="content">
            <div class="wrapper2">
                <div class="sekcija">
                    <img src="assets/images/jacgo.jpg" alt="">
                    <h3>Digitalne vještine</h3>
                    <p>Korištenje programa za obradu fotografije ( Adobe Photoshop, Adobe Ilustrator,Adobe Lightroom), za obradu video sadržaja ( DaVinci 
                        Resolve, Sony Vegas, Adobe Premier, Monkey Jam, Edius,Dragon Frame, 
                        Toon Boom,Adobe After Effects),te obradu zvuka (Audacity , Fruit Loops, Reaper, Adobe Audition) .
                    </p>
                </div>
                <div class="sekcija">
                    <img src="assets/images/ekran.jpg" alt="">
                    <h3>Ostale vještine</h3>
                    <p>Glazbena produkcija, snimanje i montaža video priloga,izrada spotova za  glazbene skupine i samostalne autore, 
                        izrada i montaža promotivnih video materijala za privatne tvrtke, izrada i montaža animiranih filmova, organizacija 
                        koncerata , analogna i digitalna fotografija, izrada postera...
                    </p>
                </div>
                <div class="sekcija">
                    <img src="assets/images/monitor.jpg" alt="">
                    <h3>Projekti</h3>
                    <p>
                        Suautor priručnika “Osnove medijske pismenosti” vezanog uz  interdisciplinarni kurikul izvannastavne aktivnosti 
                        Elektrotehničke i prometne škole Osijek, Elektrotehničke škole Split i Tehničke škole Sisak. 
                        Autor cjelina “Fotografija”, “Video”, “Animacija” koje donose teorijske osnove i praktične upute za  polaznike 
                        izvannastavne aktivnosti Medijska pismenost, ali i svakome tko želi stvarati medijske sadržaje koji dokumentiraju 
                        određeni događaj, nečiju radnu aktivnost ili korake nekog projektnog zadatka. 
                    </p>
                </div>
            </div>
        </div>
</div>