<div class="main-part">
    <div class="wrapper"></div>
        <div class="sec">
            <h1>PROMOTIVNI FILMOVI</h1>
            <div class="crta"></div>
        </div>
        <div class="sadrzaj">
            <div class="spanovi"> 
                <div class="kocka">
                    <div class="prva">
                        <img src="assets/images/foi.png" alt="foi">
                    </div>
                    <div class="druga"> 
                        <h1>FOI</h1>
                    </div>
                </div>
                <div class="kocka">
                    <div class="prva">
                        <img src="assets/images/swing.png" alt="swing">
                    </div>
                    <div class="druga"> 
                        <h1>VREĆA/LJULJAČKA</h1>
                    </div>
                </div>
                <div class="kocka">
                    <div class="prva">
                        <img src="assets/images/opg.png" alt="opg">
                    </div>
                    <div class="druga"> 
                        <h1>OPG DVANAESČAK</h1>
                    </div>
                    
            </div>
            <div class="kocka">
                <div class="prva">
                    <img src="assets/images/plm.png" alt="plm">
                </div>
                <div class="druga"> 
                    <h1>PLM</h1>
                </div>
        </div>
           
        </div>
        <div class="bijelo"></div>
</div>