<div class="main-part">
    <div class="wrapper"></div>
        <div class="sec">
            <h1>ŠKOLSKA TELEVIZIJA</h1>
            <div class="crta"></div>
        </div>
        <div class="sadrzaj">
            
            <div class="spanovi"> 
                <div class="kocka">
                    <img src="assets/images/skolska.jpg" alt="skolska">
                </div>
                <div class="kocka">
                    <h1>SNIMANJE I MONTIRANJE</h1>
                    <h4>34 video priloga</h4>
                </div>
            </div>
           
        </div>
        <div class="bijelo"></div>
</div>