<div class="main-part">
    <div class="wrapper"></div>
        <div class="sec">
            <h1>PHOTO</h1>
            <div class="crta"></div>
        </div>

        <div class="slike bijeli">
            <div class="wrapper1">
                <img src="assets/images/price.jpg" alt="price" class="velka">
                <img src="assets/images/dimnjak.jpg" alt="dimnjak" class="mala">
                <img src="assets/images/plac.jpg" alt="plac" class="mala">
            </div>
        </div>
        <div class="slike crni">
            <div class="wrapper1">
                <img src="assets/images/besva.jpg" alt="besva" class="velka">
                <img src="assets/images/glava.jpg" alt="glava" class="mala">
                <img src="assets/images/ljdui.jpg" alt="ljudi" class="mala">
            </div>    
        </div>
        <div class="slike bijeli">
            <div class="wrapper1">
                <img src="assets/images/guster.jpg" alt="guster" class="velka">
                <img src="assets/images/cura.jpg" alt="cura" class="mala">
                <img src="assets/images/pauk.jpg" alt="pauk" class="mala">
            </div>    
        </div>
        <div class="slike crni">
            <div class="wrapper1">
                <img src="assets/images/lik2.jpg" alt="lik2" class="velka">
                <img src="assets/images/frodo.jpg" alt="frodo" class="mala">
                <img src="assets/images/lik.jpg" alt="lik" class="mala">
            </div>
        </div>
        <div class="slike bijeli">
            <div class="wrapper1">
                <img src="assets/images/macka.jpg" alt="macka" class="velka">
                <img src="assets/images/macke.jpg" alt="macke" class="mala">
                <img src="assets/images/riva.jpg" alt="riva" class="mala">
            </div>
        </div>
        
</div>