<div class="main-part">
    <div class="wrapper"></div>
        <div class="sec">
            <h1>VIDEO</h1>
            <div class="crta"></div>
        </div>
        <div class="sadrzaj">
            <h3>Kliknite na fotografije za pregled pojedine kategorije</h3>
            <div class="spanovi"> 
                <div class="kocka">
                    <img src="assets/images/dog.jpg" alt="dog">
                    <h4>Igrani filmovi</h4>
                </div>
                <div class="kocka">
                    <img src="assets/images/skull.png" alt="skull">
                    <h4>Animirani filmovi</h4>
                </div>
                <div class="kocka">
                    <img src="assets/images/kuta.png" alt="kuta">
                    <h4>Školska Televizija</h4></div>
                <div class="kocka">
                    <img src="assets/images/ludilo.png" alt="ludilo">
                    <h4>Promotivni filmovi</h4>
                </div>
            </div>
           
        </div>
        <div class="bijelo"></div>
</div>