
<header>
    <div class="container">
      <img routerLink="/" src="assets/images/perologo.jpg" alt="logo">
      <div class="marg">
        <a routerLink="/" class="logo">Lebinec Petar</a>
        <nav>
          <ul>
            <li><a href="#" routerLink="/">Home</a></li>
            <li><a href="#" routerLink="/bio">o meni</a></li>
            <li><a href="#" routerLink="/video">Video</a></li>
            <li><a href="#" routerLink="/igrani">Igrani filmovi</a></li>
            <li><a href="#" routerLink="/animirani">Animirani filmovi</a></li>
            <li><a href="#" routerLink="/skolska">Školska Televizija</a></li>
            <li><a href="#" routerLink="/">Promotivni filmovi</a></li>
            <li><a href="#" routerLink="/">Photo</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  
  
<router-outlet></router-outlet>

